.upper{
  position: fixed;
  top: 70px;
  right: 10%;
  left: 20%;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
  min-height: 30px;
  background: rgba(234, 179, 255, 0.3);
  color: #621553;
}
.header{
  background: rgba(255, 182, 218, 0.28);
  color: #541247;
}
