<ng-container>
<mat-tab-group class="menu">
  <mat-tab label="My quizzes">

      <div class="div_table">
        <table class="table_view">
          <thead class="header">
          <tr>
            <th scope="col" class="th_name">Quiz name</th>
            <th scope="col" class="th_url">Url</th>
            <th scope="col" class="th_theme">Theme</th>
            <th scope="col" class="th_timer">Timer</th>
          </tr>
          </thead>
          <tbody class="upper" >
          <tr class="selectable" *ngFor="let quiz of userQuizzes" (click)="goQuizEdit(quiz.id)">
            <td class="td_user">  {{quiz.quizName}}</td>
            <td class="td_user">{{quiz.url}}</td>
            <td class="td_user">{{quiz.quizTheme}}</td>
            <td class="td_user">{{quiz.timer}}</td>
            <td class="td_delete">
              <button mat-fab color="primary" (click)="_deleteQuiz(quiz.id)" aria-label="Delete quiz">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </tr>
          </tbody>
        </table>

        <div>
          <p>Quizzes count: {{userQuizzes ? userQuizzes.length : 0}}</p>
        </div>
      </div>

  </mat-tab>
  <mat-tab label="My drafts"> Content 2 </mat-tab>
  <!--<mat-tab label="Third"> Content 3 </mat-tab>-->
  <mat-tab *ngIf="this.role[this.currentUser.role] == role.ADMIN" label="All quizzes">
    All quizzes
  </mat-tab>
</mat-tab-group>
  <div class="add_div" (click)="goToNewQuiz()">  Add new quiz </div>


</ng-container>


