<component name="libraryTable">
  <library name="Spring Web Services-2.0.2" type="spring-ws">
    <properties version="2.0.2" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-ws.jar!/" />
      <root url="file://$PROJECT_DIR$" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$PROJECT_DIR$/backend/src/main/java" />
      <root url="file://$PROJECT_DIR$/fapi/src/main/java" />
    </SOURCES>
  </library>
</component>